* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

p {
  margin: 0;
}

.example {
  margin-top: 100px;
}

input,
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

label {
  display: block;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: none;
}
select {
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  margin: 0;
  border: none;
}

.form-group-too {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-group-too p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.group-title {
  width: 100%;
  font-weight: 700;
}

.form-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

input {
  padding: 4px;
}

.form-field {
  display: flex;
  align-items: center;
  gap: 4px;
}
